<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="example-container mat-elevation-z8">
    <strong>Application de la Miage</strong>
    <p>Test Ionic 5 première page</p>
  </div>
  <div>
    <ion-button size="large" type="button" (click)="deconnexion()" expand="block">Se déconnecter</ion-button>
  </div>
</ion-content>