<ion-content [fullscreen]="true">
  <div id="container">
    <img src="../../../assets/img/logoMiage.png" />
    <ion-item color="none" lines="none">
      <ion-label color="grey" position="floating">Identifiant</ion-label>
      <ion-input color="white"></ion-input>
    </ion-item>
    <ion-item color="none" lines="none">
      <ion-label color="grey" position="floating">Mot de passe</ion-label>
      <ion-input color="white"></ion-input>
    </ion-item>
    <div class="fullWidth">
      <ion-button color="tertiary" [routerLink]="['/membre']" class="btnConnexion">Se connecter
      </ion-button>
    </div>
    <p [routerLink]="['/public/inscription']">
      Pas encore de compte ? <strong>Par ici !</strong>
    </p>
  </div>
</ion-content>